.conteiner {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  align-self: end;;
}

mat-spinner {
  margin: 1rem auto;
}
